<!DOCTYPE html>
<html>

<head>
    <title>DX-BALL</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/game/css/style.css">
    <link rel="stylesheet" type="text/css" href="/login/css/login-style.css">
    <link rel="stylesheet" href="/preloader/css/preloader.css">
    <link rel="stylesheet" href="../../leaderboard/css/style.css">
</head>

<body>
    <div class="leaderboard">
        <img src="../../images/leader.png" alt="leaderboard">
    </div>
    <div class="container">
        <p class="dx-text"><span class="bounce bounceText">DX</span><span>-Ball</span></p>
        <span class="gearItem" id="gearItem1"><img class="gearImg" src="../../images/settings.png" alt="gear"></span>
        <span class="gearItem" id="gearItem2"><img class="gearImg" src="../../images/settings.png" alt="gear"></span>
        <span class="gearItem" id="gearItem3"><img class="gearImg" src="../../images/settings.png" alt="gear"><span
                class="gearbar"></span>
        </span>
        <div class="bar">
            <h1>Loading <span class="state">...</span></h1>
            <div class="lineBar">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <canvas id="canvas"> </canvas>
    <!-- View Profile popup start -->
    <div class="viewprofile">
        <button id="myBtn">
            <p id="initial"></p>
        </button>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="profile-icon text-center">
                <button>
                    <p id="initial1"></p>
                </button>
            </div>
            <h5 id="username" class="text-center"></h5>
            <p id="useremail" class="text-center"></p>
            <h6 id="highscore"></h6>
            <div class="logout text-center">
                <button id="logout-btn">LOGOUT</button>
            </div>
        </div>
    </div>
    <!-- View Profile popup ends -->
    <div class="playbtn" id="playbtn">
        <div class="row text-center">
            <button type="button" class="btn btn-lg btn-primary" id="start" autofocus>Start / Resume</button>
            <button type="button" class="btn btn-lg btn-danger hidden" id="pause">Pause</button>
        </div>
    </div>
    <div id="gameover">
        <img src="/images/youwon.png" alt="" id="youwon">
        <img src="/images/gameover.png" alt="" id="youlose">
        <div id="restart">Play Again!</div>
    </div>
    <script src="/preloader/js/preloader.js"></script>
    <script src="/game/js/components.js"></script>
    <script src="/game/js/game.js" type="module"></script>
    <!-- <script src="./src/js/bricks.js" type="module"></script> -->
    <script src="/game/js/custompopup.js" type="module"></script>
</body>

</html>